<div class="container mt-4">

  <div *ngIf="error" class="alert alert-dismissible alert-danger text-center">
    <strong>Error!</strong> Invalid Input, please recheck!
<!--    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>-->
  </div>

  <div class="row">
    <div class="col-lg-4 image">
      <img [src]= loadWeatherImage() height="200px" alt="weather"/>
    </div>
    <div class="col-lg-6">
      <input [(ngModel)]="city"  type="text" class="form-control form-control-lg" placeholder="Enter the City...">
      <div class="d-flex gap-2">
        <button class="btn btn-success btn-lg mt-2 mr-2" (click)="getWeatherData()">Search</button>
        <button class="btn btn-warning btn-lg mt-2 ml-2" (click)="clearWeatherData()">Clear</button>
      </div>

      <div *ngIf="query" class="card mt-5 pt-2 pl-5 description">
        <div class="card-body">
          <p class="item"><b>Temperature: {{temperature | number: '1.0-0'}} °C </b></p>
          <p class="item"><b>Humidity: {{humidity}} %</b></p>
          <p class="item"><b>Weather: {{weather}}</b></p>
          <p class="item"><b>Wind Speed: {{windSpeed | number: '1.0-0'}} km/h</b></p>
          <p class="item"><b>Pressure: {{pressure | number: '1.0-0'}} hpa</b></p>
        </div>
      </div>
    </div>
  </div>
</div>
